# Data
DATA_PATH=data/epic203771098.csv
DATA_URL=https://raw.githubusercontent.com/California-Planet-Search/radvel/master/example_data/epic203771098.csv
FIGURES_DIR=figures

# HMC inference
HMC_N_SAMPLES=1000
HMC_EPSILON=0.05
HMC_L_STEPS=20
HMC_BURN_IN=200
